In [ ]:
# ------- List Comprehention -------

In [2]:
# 1. Square of number from 1 to 10
squaree = [i*i for i in range(1, 11)]
print(squaree)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [6]:
# 2. Even numbers between 1 and 50
even= [i for i in range(1, 51) if i % 2 == 0]
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [8]:
# 3 Convert strings to uppercase
names = ["karan", "rajesh", "shende"]
up = [i.upper() for i in names]
print(up)

['KARAN', 'RAJESH', 'SHENDE']

In [9]:
# 4. Only positive numbers
nums = [-3, 5, -1, 7, 0, 9]
pos = [i for i in nums if i > 0]
print(pos)

[5, 7, 9]

In [11]:
# 5.Tuples (num, num^2) from 1 to 5
tupp = [(i, i*i) for i in range(1, 6)]
print(tupp)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [13]:
# 6. Extract vowels from string
s = "education"
v = [i for i in s if i in "aeiou"]
print(v)

['e', 'u', 'a', 'i', 'o']

In [14]:
# 7.Flatten 2D list
lst = [[1, 2], [3, 4], [5, 6]]
flat = [j for i in lst for j in i]
print(flat)

[1, 2, 3, 4, 5, 6]

In [15]:
# 8. Replace negative numbers with 0
nums = [-2, 4, -5, 6]
new = [0 if i < 0 else i for i in nums]
print(new)

[0, 4, 0, 6]

In [16]:
# 9. Length of each word
words = ["python", "java", "c"]
lengths = [len(i) for i in words]
print(lengths)

[6, 4, 1]

In [17]:
# 10. Words not starting with A or a
words = ["Apple", "ball", "ant", "cat"]
res = [i for i in words if not i.lower().startswith('a')]
print(res)

['ball', 'cat']

In [18]:
# 11. Even or odd list
nums = [1, 2, 3, 4]
eo = ["even" if i % 2 == 0 else "odd" for i in nums]
print(eo)

['odd', 'even', 'odd', 'even']

In [21]:
# 12. Numbers divisible by 3 and 5 (1–100)
d = [i for i in range(1, 101) if i % 3 == 0 and i % 5 == 0]
print(d)

[15, 30, 45, 60, 75, 90]

In [23]:
# 13. Multiplication table 1–5
mul = [[i*j for j in range(1, 6)] for i in range(1, 6)]
print(mul)

[[1, 2, 3, 4, 5], [2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20], [5, 10, 15, 20, 25]]

In [25]:
# 14. Dictionary keys to list
d = {"a": 1, "b": 2}
KEYS = [i for i in d]
print(KEYS)

['a', 'b']

In [27]:
# 15. Digits from string
DATA= "ab12cd34"
dig = [i for i in DATA if i.isdigit()]
print(dig)

['1', '2', '3', '4']

In [30]:
# 16. Remove spaces from string
S= "hello world"
nospace = [i for i in S if i != " "]
print("".join(nospace))

helloworld

In [32]:
# 17. Characters appearing more than once
s = "programming"
name = [i for i in s if s.count(i) > 1]
print(name)

['r', 'g', 'r', 'm', 'm', 'g']

In [34]:
# 18. All words from sentences
sentance = ["hello world", "python is easy"]
word= [w for s in sentance for w in s.split()]
print(word)

['hello', 'world', 'python', 'is', 'easy']

In [35]:
# 19. Unique elements from list
listt= [1, 2, 2, 3, 4, 4]
uniq = [i for i in listt if lst.count(i) == 1]
print(uniq)

[]

In [38]:
# 20. CARTITION PRODUCT
a = [1, 2]
b = [3, 4]
pairs = [(i, j) for i in a for j in b]
print(pairs)

[(1, 3), (1, 4), (2, 3), (2, 4)]

In [ ]:
-#----- LAMBDA FUNCTION -------

In [39]:
# 1. Add two numbers
add = lambda x, y: x + y
print(add(3, 4))

7

In [40]:
# 2. Check even
iseven = lambda x: x % 2 == 0
print(iseven(6))

True

In [41]:
# 3. Last character of string
last = lambda s: s[-1]
print(last("python"))

n

In [43]:
# 4. Square numbers using map
Num = [1, 2, 3]
squaree= list(map(lambda x: x*x, Num))
print(squaree)

[1, 4, 9]

In [45]:
# 5. Odd numbers using filter
oddd = list(filter(lambda x: x % 2 != 0, nums))
print(oddd)

[1, 3]

In [46]:
# 6. Sort tuples by second value
t = [(1, 3), (4, 1), (2, 2)]
print(sorted(t, key=lambda x: x[1]))

[(4, 1), (2, 2), (1, 3)]

In [47]:
# 7. Palindrome check
pal = lambda s: s == s[::-1]
print(pal("madam"))

True

In [50]:
# 8. Max of three numbers
mxxx = lambda a, b, c: a if a > b and a > c else b if b > c else c
print(mxxx(3, 9, 5))

9

In [49]:
# 9. Reverse string
reve = lambda s: s[::-1]
print(reve("hello"))

olleh

In [52]:
# 10. String to int using map
NUMS = list(map(lambda x: int(x), ["1", "2", "3"]))
print(NUMS)

[1, 2, 3]

In [54]:
# 11. Remove empty strings
lst = ["hi", "", "bye", ""]
clean = list(filter(lambda x: x != "", lst))
print(clean)

['hi', 'bye']

In [58]:
# 13. Larger of two numbers
LARGE = lambda a, b: a if a > b else b
print(LARGE(4, 9))

9

In [61]:
# 14. Divisible by 5
dIV_5= lambda x: x % 5 == 0
print(dIV_5(20))

True

In [62]:
# 15. Add 10 to each element
nums = [1, 2, 3]
plus10 = list(map(lambda x: x + 10, nums))
print(plus10)

[11, 12, 13]

In [63]:
# 16. Sort list of dict by age
data = [{"age": 25}, {"age": 20}]
print(sorted(data, key=lambda x: x["age"]))

[{'age': 20}, {'age': 25}]

In [64]:
# 17. Check vowel
vowel = lambda c: c.lower() in "aeiou"
print(vowel("a"))

True

In [66]:
# 18. WORD LENGTH GREATER THAN 5
words = ["python", "java", "programming"]
long = list(filter(lambda x: len(x) > 5, words))
print(long)

['python', 'programming']

In [67]:
# 19. Area of circle
import math
from math import *
area = lambda r: math.pi * r * r
print(area(5))

78.53981633974483

In [68]:
# 20. Remove duplicates
lst = [1, 2, 2, 3]
nodup = list(filter(lambda x: lst.count(x) == 1, lst))
print(nodup)

[1, 3]

In [69]:
# 21. Product of list
nums = [1, 2, 3, 4]
prod = reduce(lambda a, b: a*b, nums)
print(prod)

NameError: name 'reduce' is not defined

In [71]:
# 22. Absolute value
ab = lambda x: x if x >= 0 else -x
print(ab(-7))

7

In [72]:
# 23. Sort strings by length
s = ["hi", "hello", "bye"]
print(sorted(s, key=lambda x: len(x)))

['hi', 'bye', 'hello']

In [73]:
# 24. Uppercase characters from string
s = "PyThOn"
up = list(filter(lambda x: x.isupper(), s))
print(up)

['P', 'T', 'O']

In [74]:
# 25. Square if even, cube if odd
cal = lambda x: x*x if x % 2 == 0 else x*x*x
print(cal(3))

27

In [75]:
# 26. Celsius to Fahrenheit
c2f = lambda c: (c * 9/5) + 32
print(c2f(30))

86.0

In [78]:
# 27. Anagram check
anagr= lambda a, b: sorted(a) == sorted(b)
print(anagr("listen", "silent"))

True

In [80]:
# 28. Numeric values from mixed list
mix = [1, "a", 3, "b"]
num = list(filter(lambda x: type(x) == int, mix))
print(num)

[1, 3]

In [81]:
# 29. Any negative number
nums = [1, -2, 3]
print(any(map(lambda x: x < 0, nums)))

True

In [82]:
# 30. Lambda returning multiplier function
mul = lambda b: lambda x: x * b
f = mul(5)
print(f(10))

50