In [ ]:
### QUESTION NO 1

name="Hi How are you? Started learning python. it's really intresting"
print(name[:])
print(name[-10:-5])
print(name[3:12])
print(name[12:3])
#name[5,6]  # name[5,6] gives an error because string indexing uses a single index or slice (:), not comma-separated indices.
print(name[-4:-12])
print(name[::2])
print(name[::-2])

Hi How are you? Started learning python. it's really intresting
intre
How are y


H o r o?Satdlann yhn tsral nrsig
gisrn larst nhy nnaldtaS?o r o H

In [ ]:
###  QUESTION NO 2

L1 = ['a' , 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']
print(L1[:])
print(L1[::3])
print(L1[::-2])
print(L1[8])
print(L1[-2])
print(type(L1[4]))
print(L1[5:8])

['a', 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']
['a', 30, 300, 'major']
['major', 400, 100, 30, 'b']
Happy
Happy
<class 'str'>
[100, 300, 400]

In [ ]:
### QUESTION NO 3

l2 =[1,2,3,5,['a', 'b', 'work hard'],100 , 200, 'Success']
print(l2[4])
print(l2[1:5])
print(l2[7][2])
print(l2[7][2:])
print(l2[:3])
print(l2[3:])

['a', 'b', 'work hard']
[2, 3, 5, ['a', 'b', 'work hard']]
c
ccess
[1, 2, 3]
[5, ['a', 'b', 'work hard'], 100, 200, 'Success']

In [ ]:
### QUESTION NO  4

l2 =[1,2,3,5,['a', 'b', 'work hard'],100 , 200, 'Success']

### QUESTION NO 5

l2[4][1]='bee'

### QUESTION NO 6

l2[4].remove("bee")

### QUESTION NO 7

l2.append({'insect': ['bee', 'moth'] , 'bird' : ['parrot', 'sparrow']} )
print(l2)

[1, 2, 3, 5, ['a', 'work hard'], 100, 200, 'Success', {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]

In [ ]:
### QUESTION NO 10
L2 =[1,2,3,5, (90,40,50,10), 'Python', 400 ,['a', 'b', 'work hard'],100 , 200, 'Success', (200,300,
'Hundreds')]
print(l2)
print(L2[4][2])
print(L2[5][:] )
# print(L2[2][:] ) # 3 is a number, and numbers cannot be sliced
print(L2[1:5] )
print(L2[5] )
print(L2[5][3:-1] )
print(L2[-1] )
# print(L2[-4, -3] )  #Comma indexing is not allowed in lists.
print(L2[-4: -10] )
print(L2[7][2] )
# print(L7[-7][2:] )   ## L7 does not exist, so Python throws an error.
print(L2[ :- 3] )
print(L2[-3:])

[1, 2, 3, 5, ['a', 'work hard'], 100, 200, 'Success', {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]
50
Python
[2, 3, 5, (90, 40, 50, 10)]
Python
ho
(200, 300, 'Hundreds')
[]
work hard
[1, 2, 3, 5, (90, 40, 50, 10), 'Python', 400, ['a', 'b', 'work hard'], 100]
[200, 'Success', (200, 300, 'Hundreds')]

In [ ]:
# Question No 11

def Grade_of_Student(mark):
  if mark.isdigit():
    mark=int(mark)
    if mark>100 or mark<0:
      output="Enter A proper mark with in range (0,100)"
    elif mark >80:
      output='Distinction'
    elif mark >=70:
      output='First Class'
    elif mark >=50:
      output='Second'
    elif mark >35:
      output='Pass'
    else:
      output='Fail'
  else:
    output="Enter proper Mark"
  return output

In [ ]:
mark=input("please Enter your Mark ")
Grade_of_Student(mark)

please Enter your Mark 2345

'Enter A proper mark with in range (0,100)'

In [ ]:
## Question No 12
salary=int(input("Enter your salary"))
rank=input("enter your rank")
if salary <500000 and rank=='A':
  salary=salary+salary*0.16
elif salary <500000 and rank=='B':
  salary=salary+salary*0.12
elif salary <500000 and rank=='C':
  salary=salary+salary*0.1
elif salary <500000 and rank=='D':
  salary=salary+salary*0.06

elif salary <1000000 and rank=='A':
  salary=salary+salary*0.14
elif salary <1000000 and rank=='B':
  salary=salary+salary*0.1
elif salary <1000000 and rank=='C':
  salary=salary+salary*0.08
elif salary <1000000 and rank=='D':
  salary=salary+salary*0.06


elif salary <1500000 and rank=='A':
  salary=salary+salary*0.08
elif salary <1500000 and rank=='B':
  salary=salary+salary*0.06
elif salary <1500000 and rank=='C':
  salary=salary+salary*0.04
elif salary <500000 and rank=='D':
  salary

elif salary <2500000 and rank=='A':
  salary=salary+salary*0.07
elif salary <2500000 and rank=='B':
  salary=salary+salary*0.05
elif salary <2500000 and rank=='C':
  salary=salary+salary*0.04
elif salary <2500000 and rank=='D':
  salary
print(salary)

In [ ]:
### QUESTIION NO 13

class annual_fee():
  def __init__(self,name):
    self.name=name
    self.anual_cost=[]

  def subject(self):
      self.subject=input("Enter which subject you want to take for masters (HR,Finance,DS,Marketing)")
      if self.subject=='DS':
          print("there is not available analytics course for this core subject DS")
      else:
          print(f"{self.name} is takking  {self.subject} subject")

  def ADD_EXPENSES_Course(self):
    self.hostel=input("is your course anlytics")
    if self.hostel == "yes":
      self.anual_cost.append(200000+200000*0.1)
      print(self.anual_cost)
    else:
      return "Thnak you !"

  def ADD_EXPENSES_Hostel(self):
    self.hostel=input("Do you want collage hostel facilities")
    if self.hostel=="yes":
        self.anual_cost.append(200000)
    else:
        print("Thank You !")

  def ADD_EXPENSES_food(self):
    self.Months=int(input("Enter how many moths you want food"))
    self.anual_cost.append(self.Months*2000)
    return  self.anual_cost

  def ADD_EXPENSES_transportation(self):
    self.transportation=int(input("How many semester you want Transpotations services"))
    self.anual_cost.append(self.transportation*13000)
    return  self.anual_cost

  def TOTAL_ANNUAL_EXPENCES(self):
    total=0
    for i in self.anual_cost:
      total+=i
    return f" {self.name} Your total Anual cost for this {self.subject} subject : {total}₹"

In [ ]:
Karan=annual_fee("karan")
Karan.subject()
Karan.ADD_EXPENSES_Course()
Karan.ADD_EXPENSES_Hostel()
Karan.ADD_EXPENSES_food()
Karan.ADD_EXPENSES_transportation()
Karan.TOTAL_ANNUAL_EXPENCES()

Enter which subject you want to take for masters (HR,Finance,DS,Marketing)finance
karan is takking  finance subject
is your course anlyticsyes
[220000.0]
Do you want collage hostel facilitiesyes
Enter how many moths you want food4
How many semester you want Transpotations services4

' karan Your total Anual cost for this finance subject : 480000.0₹'

In [ ]:
## QUESTION No 17

a = 100

print(str(a))
# print(list(a))     #  number cannot be looped
# print(tuple(a))    #  number is not iterable
# print(dict(a))     #  dict needs key-value pairs
# print(set(a))      #  number cannot be looped
print(float(a))


# Question 18

city = "Pune"

# print(int(city))   #  letters cannot convert to number
# print(float(city)) #  letters cannot convert to float
print(list(city))
print(tuple(city))
# print(dict(city))  # error: dict needs key-value pairs
print(set(city))


# Question 19
marks = [20, 18, 15, 17, 18]

# print(int(marks))   # list cannot become a number
# print(float(marks)) #l ist cannot convert to float
print(list(marks))
print(tuple(marks))
# print(dict(marks))  # error: list items are not key-value pairs
print(set(marks))

100
100.0
['P', 'u', 'n', 'e']
('P', 'u', 'n', 'e')
{'n', 'P', 'u', 'e'}
[20, 18, 15, 17, 18]
(20, 18, 15, 17, 18)
{17, 18, 20, 15}

In [ ]:
## Quastion Number 10
sname=[]
sname.append(20)
sname.extend([30])
sname.append(200)
sname.extend("WORK")
combo=[1,'a','b',2,3]
combo.append(sname)
print(combo)

[1, 'a', 'b', 2, 3, [20, 30, 200, 'W', 'O', 'R', 'K']]

In [ ]:
### Question No 11

l1=[122,22]
l3=['karan','ramesh',24,545,5566,64,45]
l3.insert(3,l1)
l3

In [ ]:
## QUESTION NO 12

In [ ]:
## QUESTION NO 13
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
## QUESTION NO 13
[i for i in range(1,300) if i%13==0]

[13,
 26,
 39,
 52,
 65,
 78,
 91,
 104,
 117,
 130,
 143,
 156,
 169,
 182,
 195,
 208,
 221,
 234,
 247,
 260,
 273,
 286,
 299]

In [ ]:
## QUESTION NO 15
[i for i in range(300,400) if i%4==0]

[300,
 304,
 308,
 312,
 316,
 320,
 324,
 328,
 332,
 336,
 340,
 344,
 348,
 352,
 356,
 360,
 364,
 368,
 372,
 376,
 380,
 384,
 388,
 392,
 396]

In [ ]:
"""
17. Difference between add() and update() in set:

add():
- Used to add only ONE element to a set.
- If we try to add a list or multiple values, it will give an error.

update():
- Used to add MULTIPLE elements to a set.
- We can pass list, tuple, or another set.
- All elements are added one by one.


18. Difference between append() and extend() in list:

append():
- Adds ONE element at the end of the list.
- If we pass a list, the whole list becomes a single element.

extend():
- Adds MULTIPLE elements at the end of the list.
- It adds elements one by one from another list.


19. Difference between pop() and remove():

pop():
- Removes element using index.
- If index is not given, it removes the last element.
- Returns the removed element.

remove():
- Removes element using value.
- If value is not present, it gives an error.
- Does not return anything.


20. Difference between discard(), pop(), and remove():

discard():
- Used with sets.
- Removes the given element.
- If element is not present, no error occurs.

pop():
- Used with list and set.
- In list: removes element using index.
- In set: removes a random element.
- Returns the removed element.

remove():
- Used with list and set.
- Removes element using value.
- If value is not present, it gives an error.
"""

In [ ]:
# QUESTION NO 21
Z=set()

In [ ]:
# QUESTION NO 22

In [ ]:
# QUESTION NO 23
s1={1,2,3,4,5}
s2={4,5,6,7,8}
s1.union(s2)
s1.intersection(s2)
s1.difference(s2)
s1.symmetric_difference(s2)

{1, 2, 3, 6, 7, 8}

In [ ]:
# QUESTION NO 24
name=input("enter your name for password")
Dob=input("Date Of Birth")
password=name[:5]+"@"+Dob[:2]+Dob[3:5]
print(password)

enter your name for passwordKARAN
Date Of Birth29-02-2004
KARAN@2902

In [ ]:
## QUESTION NO 25

name=input("enter your name for password")
Dob=input("Date Of Birth")
password=name[:5]+"@"+Dob[6:]
print(password)

enter your name for passwordKARAN
Date Of Birth29-02-2004
KARAN@2004

In [ ]:
## QUESTION NO 26
for i in range(1,5):
  print("*"*i)

*
**
***
****

In [ ]:
## question no 27
for i in range(5,-1,-1):
  print("*"*i)

*****
****
***
**
*

In [ ]:
# QUESTION NO 28
name="ABCD"
S=""
for i in name:
  S+=i
  print(S)

A
AB
ABC
ABCD

In [ ]:
## QUESTION NO 29
COUNT=0
for i in "ABCD":
  COUNT+=1
  z=i*COUNT
  print(z)

A
BB
CCC
DDDD

In [ ]:
### QUESTION NO 30
count=0
for i in range(1,5):
  count+=1
  z=str(i)*count
  print(z)

1
22
333
4444

In [ ]:
name=ABCD
for i in name:
  print(name[::-1])

NameError: name 'ABCD' is not defined

In [ ]:
# QUESTION NO 33
for i in range(1,11):
  if i%2!=0:
    print(i)

## Using list comprehention
[i for i in range(1,11) if i%2!=0]

A
A
AD
AC
ABCD

ValueError: slice step cannot be zero

In [ ]:
## QUESTION NO 34
for i in range(200,251):
  if i%2==0:
    list1.aappend(i)

In [ ]:
## QUESTION NO 35

In [ ]:
## QUESTION NO 36

In [ ]:
## QUESTION NO 37

In [ ]:
## QUESTION NO 38