In [8]:
### QUESTION NO 1

name="Hi How are you? Started learning python. it's really intresting"
print(name[:])
print(name[-10:-5])
print(name[3:12])
print(name[12:3])
#name[5,6]  # name[5,6] gives an error because string indexing uses a single index or slice (:), not comma-separated indices.
print(name[-4:-12])
print(name[::2])
print(name[::-2])

Hi How are you? Started learning python. it's really intresting
intre
How are y


H o r o?Satdlann yhn tsral nrsig
gisrn larst nhy nnaldtaS?o r o H

In [9]:
###  QUESTION NO 2

L1 = ['a' , 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']
print(L1[:])
print(L1[::3])
print(L1[::-2])
print(L1[8])
print(L1[-2])
print(type(L1[4]))
print(L1[5:8])

['a', 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']
['a', 30, 300, 'major']
['major', 400, 100, 30, 'b']
Happy
Happy
<class 'str'>
[100, 300, 400]

In [10]:
### QUESTION NO 3

l2 =[1,2,3,5,['a', 'b', 'work hard'],100 , 200, 'Success']
print(l2[4])
print(l2[1:5])
print(l2[7][2])
print(l2[7][2:])
print(l2[:3])
print(l2[3:])

['a', 'b', 'work hard']
[2, 3, 5, ['a', 'b', 'work hard']]
c
ccess
[1, 2, 3]
[5, ['a', 'b', 'work hard'], 100, 200, 'Success']

In [11]:
### QUESTION NO  4

l2 =[1,2,3,5,['a', 'b', 'work hard'],100 , 200, 'Success']

### QUESTION NO 5

l2[4][1]='bee'

### QUESTION NO 6

l2[4].remove("bee")

### QUESTION NO 7

l2.append({'insect': ['bee', 'moth'] , 'bird' : ['parrot', 'sparrow']} )
print(l2)

[1, 2, 3, 5, ['a', 'work hard'], 100, 200, 'Success', {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]

In [12]:
### QUESTION NO 8

d1 = {'a': 10, 'b': 20, 'c': 30}

l2 = [100, 200, 300]

l2.insert(1, d1)

print(l2)

[100, {'a': 10, 'b': 20, 'c': 30}, 200, 300]

In [13]:
### QUESTION NO 9

value = l2[1]['a']
print(value)

10

In [14]:
### QUESTION NO 10
L2 =[1,2,3,5, (90,40,50,10), 'Python', 400 ,['a', 'b', 'work hard'],100 , 200, 'Success', (200,300,
'Hundreds')]
print(l2)
print(L2[4][2])
print(L2[5][:] )
# print(L2[2][:] ) # 3 is a number, and numbers cannot be sliced
print(L2[1:5] )
print(L2[5] )
print(L2[5][3:-1] )
print(L2[-1] )
# print(L2[-4, -3] )  #Comma indexing is not allowed in lists.
print(L2[-4: -10] )
print(L2[7][2] )
# print(L7[-7][2:] )   ## L7 does not exist, so Python throws an error.
print(L2[ :- 3] )
print(L2[-3:])

[100, {'a': 10, 'b': 20, 'c': 30}, 200, 300]
50
Python
[2, 3, 5, (90, 40, 50, 10)]
Python
ho
(200, 300, 'Hundreds')
[]
work hard
[1, 2, 3, 5, (90, 40, 50, 10), 'Python', 400, ['a', 'b', 'work hard'], 100]
[200, 'Success', (200, 300, 'Hundreds')]

In [15]:
## QUESTION NO 11

def Grade_of_Student(mark):
    try:
        mark = int(mark)
        if mark > 100 or mark < 0:
            return "Enter proper mark within range (0–100)"
        elif mark > 80:
            return "Distinction"
        elif mark >= 70:
            return "First Class"
        elif mark >= 50:
            return "Second"
        elif mark > 35:
            return "Pass"
        else:
            return "Fail"

    except ValueError:
        return "Enter proper Mark"

In [16]:
mark=input("please Enter your Mark ")
Grade_of_Student(mark)

'Pass'

In [17]:
## Question No 12

salary=int(input("Enter your salary"))
rank=input("enter your rank")
if salary <500000 and rank=='A':
  salary=salary+salary*0.16
elif salary <500000 and rank=='B':
  salary=salary+salary*0.12
elif salary <500000 and rank=='C':
  salary=salary+salary*0.1
elif salary <500000 and rank=='D':
  salary=salary+salary*0.06

elif salary <1000000 and rank=='A':
  salary=salary+salary*0.14
elif salary <1000000 and rank=='B':
  salary=salary+salary*0.1
elif salary <1000000 and rank=='C':
  salary=salary+salary*0.08
elif salary <1000000 and rank=='D':
  salary=salary+salary*0.06


elif salary <1500000 and rank=='A':
  salary=salary+salary*0.08
elif salary <1500000 and rank=='B':
  salary=salary+salary*0.06
elif salary <1500000 and rank=='C':
  salary=salary+salary*0.04
elif salary <500000 and rank=='D':
  salary

elif salary <2500000 and rank=='A':
  salary=salary+salary*0.07
elif salary <2500000 and rank=='B':
  salary=salary+salary*0.05
elif salary <2500000 and rank=='C':
  salary=salary+salary*0.04
elif salary <2500000 and rank=='D':
  salary
print(salary)

2496666.31

In [ ]:
### QUESTIION NO 13

class annual_fee():
  def __init__(self,name):
    self.name=name
    self.anual_cost=[]

  def subject(self):
      self.subject=input("Enter which subject you want to take for masters (HR,Finance,DS,Marketing)")
      if self.subject=='DS':
          print("there is not available analytics course for this core subject DS")
      else:
          print(f"{self.name} is takking  {self.subject} subject")

  def ADD_EXPENSES_Course(self):
    self.hostel=input("is your course anlytics")
    if self.hostel == "yes":
      self.anual_cost.append(200000+200000*0.1)
      print(self.anual_cost)
    else:
      return "Thnak you !"

  def ADD_EXPENSES_Hostel(self):
    self.hostel=input("Do you want collage hostel facilities")
    if self.hostel=="yes":
        self.anual_cost.append(200000)
    else:
        print("Thank You !")

  def ADD_EXPENSES_food(self):
    self.Months=int(input("Enter how many moths you want food"))
    self.anual_cost.append(self.Months*2000)
    return  self.anual_cost

  def ADD_EXPENSES_transportation(self):
    self.transportation=int(input("How many semester you want Transpotations services"))
    self.anual_cost.append(self.transportation*13000)
    return  self.anual_cost

  def TOTAL_ANNUAL_EXPENCES(self):
    total=0
    for i in self.anual_cost:
      total+=i
    return f" {self.name} Your total Anual cost for this {self.subject} subject : {total}₹"

In [20]:
Karan=annual_fee("karan")
Karan.subject()
Karan.ADD_EXPENSES_Course()
Karan.ADD_EXPENSES_Hostel()
Karan.ADD_EXPENSES_food()
Karan.ADD_EXPENSES_transportation()
Karan.TOTAL_ANNUAL_EXPENCES()

there is not available analytics course for this core subject DS
Thank You !

' karan Your total Anual cost for this DS subject : 60000₹'

In [ ]:
## QUESTION No 14
# Price data
store = {
    "books": {
        1: {"hindi": 60, "marathi": 60, "english": 80, "science": 90, "math": 100},
        2: {"hindi": 60, "marathi": 60, "english": 80, "science": 90, "math": 100},
        3: {"hindi": 60, "marathi": 60, "english": 80, "science": 90, "math": 100},
        4: {"hindi": 60, "marathi": 60, "english": 80, "science": 90, "math": 100},
        5: {"hindi": 100, "marathi": 100, "english": 100, "science": 120, "math": 140},
        6: {"hindi": 100, "marathi": 100, "english": 100, "science": 120, "math": 140},
        7: {"hindi": 100, "marathi": 100, "english": 100, "science": 120, "math": 140},
        8: {"hindi": 100, "marathi": 100, "english": 100, "science": 120, "math": 140},
        9: {"hindi": 150, "marathi": 150, "english": 150, "science": 200, "math": 250},
        10: {"hindi": 150, "marathi": 150, "english": 150, "science": 200, "math": 250}
    },

    "notebooks": {
        100: {"square": 40, "4lines": 30, "2lines": 30, "single lines": 60, "A4 notebook": 100},
        200: {"square": 70, "4lines": 50, "2lines": 50, "single lines": 100, "A4 notebook": 180}
    }
}

cart = {}
total_amount = 0

### FirstFunction for Take customer order and calculate bill
def purchase_items():
    global total_amount
    while True:
        category =input("What do you want (books / notebooks): ").lower()

        if category == "books":
            print(store["books"].keys())

            std =int(input("Enter standard: "))

            if std in store["books"]:
              
                print(store["books"][std].keys())
                item = input("Enter subject: ")
                qty = int(input("Quantity: "))

                if item in store["books"][std]:

                    price = store["books"][std][item]
                    item_total = price * qty
                    total_amount += item_total
                    cart[item] = (qty, item_total)

        elif category == "notebooks":
            print(store["notebooks"].keys())
            pages = int(input("Enter pages: "))

            if pages in store["notebooks"]:
                print( store["notebooks"][pages].keys())
                item = input("Enter notebook type: ")
                qty = int(input("Quantity: "))

                if item in store["notebooks"][pages]:
                    price = store["notebooks"][pages][item]
                    item_total = price * qty
                    total_amount += item_total
                    cart[item] = (qty, item_total)

        more = input("Do you want to buy more (yes/no): ").lower()
        if more != "yes":
            break


def print_bill():
    """Print final bill"""
    line = "_"*50
    print(line)
    print("{:^50}".format("Ambika Stationery"))
    print(line)
    print("| {:10} {:>10} {:>10} |".format("Product", "Qty", "Price"))
    print(line)

    for item in cart:
        print("| {:10} {:>10} {:>10} |".format(item, cart[item][0], cart[item][1]))

    print(line)
    print("| {:10} {:>22} |".format("Total", total_amount))
    print(line)


def start_shopping():
    """Main function"""
    choice =input("Do you want to purchase (yes/no): ").lower()

    if choice == "yes":
        purchase_items()
        bill =input("Print bill (yes/no): ").lower()
        if bill == "yes":
            print_bill()
    else:
        print("Thank you")


# Program start
start_shopping()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
dict_keys(['hindi', 'marathi', 'english', 'science', 'math'])
dict_keys([100, 200])
dict_keys(['square', '4lines', '2lines', 'single lines', 'A4 notebook'])
__________________________________________________
                Ambika Stationery
__________________________________________________
| Product           Qty      Price |
__________________________________________________
| math                3        300 |
| A4 notebook          3        300 |
__________________________________________________
| Total                         600 |
__________________________________________________

In [ ]:
## QUESTION No 17

a = 100

print(str(a))
# print(list(a))     #  number cannot be looped
# print(tuple(a))    #  number is not iterable
# print(dict(a))     #  dict needs key-value pairs
# print(set(a))      #  number cannot be looped
print(float(a))


# Question 18

city = "Pune"

# print(int(city))   #  letters cannot convert to number
# print(float(city)) #  letters cannot convert to float
print(list(city))
print(tuple(city))
# print(dict(city))  # error: dict needs key-value pairs
print(set(city))


# Question 19
marks = [20, 18, 15, 17, 18]

# print(int(marks))   # list cannot become a number
# print(float(marks)) #l ist cannot convert to float
print(list(marks))
print(tuple(marks))
# print(dict(marks))  # error: list items are not key-value pairs
print(set(marks))

100
100.0
['P', 'u', 'n', 'e']
('P', 'u', 'n', 'e')
{'n', 'P', 'u', 'e'}
[20, 18, 15, 17, 18]
(20, 18, 15, 17, 18)
{17, 18, 20, 15}

In [ ]:
## Quastion Number 10
sname=[]
sname.append(20)
sname.extend([30])
sname.append(200)
sname.extend("WORK")
combo=[1,'a','b',2,3]
combo.append(sname)
print(combo)

[1, 'a', 'b', 2, 3, [20, 30, 200, 'W', 'O', 'R', 'K']]

In [21]:
### Question No 11

l1=[122,22]
l3=['karan','ramesh',24,545,5566,64,45]
l3.insert(3,l1)
l3

['karan', 'ramesh', 24, [122, 22], 545, 5566, 64, 45]

In [22]:
## QUESTION NO 12
collection=[1,2,3,['a', 'b', 'c'],100,'Nisha',20.50,90.10]

# 1. Multiply int and float values by 5
for i in range(len(collection)):
    if type(collection[i]) == int or type(collection[i]) == float:
        collection[i] = collection[i] * 5

# 2 Delete "Nisha" from collection
collection.remove("Nisha")

# 3 Find index of 20.50
z=collection.index(20.50 * 5)
print(z)
print(collection)

5
[5, 10, 15, ['a', 'b', 'c'], 500, 102.5, 450.5]

In [ ]:
## QUESTION NO 13
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
## QUESTION NO 14
[i for i in range(1,300) if i%13==0]

[13,
 26,
 39,
 52,
 65,
 78,
 91,
 104,
 117,
 130,
 143,
 156,
 169,
 182,
 195,
 208,
 221,
 234,
 247,
 260,
 273,
 286,
 299]

In [ ]:
## QUESTION NO 15
[i for i in range(300,400) if i%4==0]

[300,
 304,
 308,
 312,
 316,
 320,
 324,
 328,
 332,
 336,
 340,
 344,
 348,
 352,
 356,
 360,
 364,
 368,
 372,
 376,
 380,
 384,
 388,
 392,
 396]

In [ ]:
"""
17. Difference between add() and update() in set:

add():
- Used to add only ONE element to a set.
- If we try to add a list or multiple values, it will give an error.

update():
- Used to add MULTIPLE elements to a set.
- We can pass list, tuple, or another set.
- All elements are added one by one.


18. Difference between append() and extend() in list:

append():
- Adds ONE element at the end of the list.
- If we pass a list, the whole list becomes a single element.

extend():
- Adds MULTIPLE elements at the end of the list.
- It adds elements one by one from another list.


19. Difference between pop() and remove():

pop():
- Removes element using index.
- If index is not given, it removes the last element.
- Returns the removed element.

remove():
- Removes element using value.
- If value is not present, it gives an error.
- Does not return anything.


20. Difference between discard(), pop(), and remove():

discard():
- Used with sets.
- Removes the given element.
- If element is not present, no error occurs.

pop():
- Used with list and set.
- In list: removes element using index.
- In set: removes a random element.
- Returns the removed element.

remove():
- Used with list and set.
- Removes element using value.
- If value is not present, it gives an error.
"""

In [23]:
# QUESTION NO 21
Z=set()

In [24]:
# QUESTION NO 22
s1={1,2,3,4,5}
s2={4,5,6,7,8}
s1.union(s2)
s1.intersection(s2)
s1.difference(s2)
s1.symmetric_difference(s2)

{1, 2, 3, 6, 7, 8}

In [25]:
# QUESTION NO 23
s1={1,2,3,4,5}
s2={4,5,6,7,8}
s1.union(s2)
s1.intersection(s2)
s1.difference(s2)
s1.symmetric_difference(s2)

{1, 2, 3, 6, 7, 8}

In [ ]:
# QUESTION NO 24
name=input("enter your name for password")
Dob=input("Date Of Birth")
password=name[:5]+"@"+Dob[:2]+Dob[3:5]
print(password)

enter your name for passwordKARAN
Date Of Birth29-02-2004
KARAN@2902

In [ ]:
## QUESTION NO 25

name=input("enter your name for password")
Dob=input("Date Of Birth")
password=name[:5]+"@"+Dob[6:]
print(password)

enter your name for passwordKARAN
Date Of Birth29-02-2004
KARAN@2004

In [ ]:
## QUESTION NO 26
for i in range(1,5):
  print("*"*i)

*
**
***
****

In [ ]:
## question no 27
for i in range(5,-1,-1):
  print("*"*i)

*****
****
***
**
*

In [ ]:
# QUESTION NO 28
name="ABCD"
S=""
for i in name:
  S+=i
  print(S)

A
AB
ABC
ABCD

In [ ]:
## QUESTION NO 29
COUNT=0
for i in "ABCD":
  COUNT+=1
  z=i*COUNT
  print(z)

A
BB
CCC
DDDD

In [ ]:
### QUESTION NO 30
count=0
for i in range(1,5):
  count+=1
  z=str(i)*count
  print(z)

1
22
333
4444

In [ ]:
## QUESTION 31

name="ABCD"
STRING=""
for i in name[::-1]:
    STRING+=i
    print(STRING)

D
DC
DCB
DCBA

In [ ]:
# QUESTION NO 32
Name="UPGRAD"
string=""
for i in Name[::-1]:
    string+=i
    print(string)

D
DA
DAR
DARG
DARGP
DARGPU

In [ ]:
# QUESTION NO 33
for i in range(1,11):
  if i%2!=0:
    print(i)

## Using list comprehention
[i for i in range(1,11) if i%2!=0]

1
3
5
7
9

[1, 3, 5, 7, 9]

In [ ]:
## QUESTION NO 34
list1=[]
for i in range(200,251):
  if i%2==0:
    list1.append(i)
print(list1)

[200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250]

In [ ]:
## QUESTION NO 35

List2 = [2,70,'work',"text",2.5,[1,2,3],(1,2),{1,2},{1:'a', 2:'b'},3,10,302.5]

for i in List2:
    if type(i) == int or type(i) == float:
        print(i * 2)

    elif type(i) == str:
        print(i * 2)

    elif type(i) == list or type(i) == tuple:
        print(i * 2)

    else:
        print(i)

4
140
workwork
texttext
5.0
[1, 2, 3, 1, 2, 3]
(1, 2, 1, 2)
{1, 2}
{1: 'a', 2: 'b'}
6
20
605.0

In [ ]:
## QUESTION NO 36

List2 = [2,70,'work',"para",2.5,[1,2,3],(1,2),3,10,302.5]
List3 = list(map(lambda x:x*2 ,List2))
print(List3)

[4, 140, 'workwork', 'parapara', 5.0, [1, 2, 3, 1, 2, 3], (1, 2, 1, 2), 6, 20, 605.0]

In [ ]:
## QUESTION NO 37
def accept_mark():
    mark=input("enter Marrk")
    if mark.isdigit():
        mark=int(mark)
        print(mark,"mark is valid")
    else:
        print("mark is not valid")

# accept_mark()

# def accept_markk3():
#     try:
#         mark=input("enter Marrk")
#         if mark.isdigit():
#             mark=int(mark)
#             print(mark,"mark is valid")
#     except ValueError:
#         return "mark is invalid"


def accept_markk3():
    try:
        mark = int(input("enter mark: "))
        print(mark, "mark is valid")
    except ValueError:
        print("mark is invalid")

accept_markk3()

mark is invalid

In [ ]:
## QUESTION NO 38
def valid_name():

    name=input("Enter first and last name")
    if not name.isspace() and name.isalpha():
        print("name is valid")
    else:
        print("name is invalid")
valid_name()

name is valid

In [ ]:
## QUESTION NO 39
def validate_number():
    
    mobile_number=input("Enter mobile number")
    if mobile_number.isdigit():
        # mobile_number=int(mobile_number)
        if len(mobile_number)==10:
            print("mobile number is valid")
        else:
            print("mobile number is invalid ")
    else:
        print("Enter valid number")

validate_number()

mobile number is valid

In [ ]:
## QUESTION NO 40
def create_auto_password():

    name=input("enter your name for password")
    Dob=input("Date Of Birth")
    password=name[:5]+"@"+Dob[6:]
    return password

create_auto_password()

'KARAN@2004'

In [ ]:
## QUESTION NO 41


CUSTOMER_NO=1
records={}
while True:

    Name=input("enter your name")
    Dob=input("Enter your date of birth")
    MOBILE_NUMBER =input("enter your mobile number")

    records[CUSTOMER_NO]={
        "Name":Name,
        "dob":Dob,
        "Mobile_no":MOBILE_NUMBER
    }
    

    opt=input("Do you want to add anothe record")
    if opt.lower()=='no':
        break
    else:
        CUSTOMER_NO+=1


print(records)

{1: {'Name': '3', 'dob': '3', 'Mobile_no': '3'}, 2: {'Name': '3', 'dob': '3', 'Mobile_no': '3'}}

In [ ]:
## QUESTION NO 42
customer = {
    "name": "Amit",
    "dob": "2000-05-12",
    "mobile": "9876543210"
}

with open("cust_info.txt", "w") as f:
    f.write(str(customer))
print("Customer info saved")

Customer info saved

In [ ]:
## QUESTION NO 44

import pyodbc

# SQL Server connection
connection = pyodbc.connect(
    r'Driver={SQL Server};'
    r'Server=KARAN\SQLEXPRESS;'
    r'Database=Restourant;'
    r'Trusted_Connection=yes;'
)
cursor = connection.cursor()

# Create table (only once)
cursor.execute("""
IF NOT EXISTS (SELECT * FROM sys.tables WHERE name = 'cust_info')
CREATE TABLE cust_info (
    sr_no INT,
    name VARCHAR(50),
    dob VARCHAR(20),
    mobile VARCHAR(10))
""")
connection.commit()

# Take input
sr_no = input("Enter sr no: ")
name = input("Enter name: ")
dob = input("Enter DOB (YYYY-MM-DD): ")
mobile = input("Enter mobile: ")

# SIMPLE validation
if sr_no == "" or name == "" or dob == "" or mobile == "":
    print("All fields are required")
    exit()    ### (EXIT) IT STOP EXICUTION OF PROGRAM WHEN INPUT IS NOT VALID 

if not sr_no.isdigit():
    print("sr_no must be number")
    exit()

if not mobile.isdigit() or len(mobile) != 10:
    print("Mobile must be 10 digits")
    exit()

# Insert data
cursor.execute(
    "INSERT INTO cust_info VALUES (?,?,?,?)",
    int(sr_no), name, dob, mobile
)

connection.commit()  ## USING THIS WE COMMIT DATA AND SAVE DATA IN DATABASE PARMANTLY 
print("Data inserted successfully")

cursor.close()
connection.close()

Data inserted successfully

In [ ]:
## QUESTION NO 45
Dict1 = {
    "Key": {"subkey": 20},
    "k2": {"sub2": 5},
    "k3": {"sub4": 16},
    "k4": {"sub4": 6}
}

# empty dictionary for result
result = {}

# sort dictionary using inner value
for k, v in sorted(Dict1.items(), key=lambda x: list(x[1].values())[0]):
    result[k] = v

print(result)

{'k2': {'sub2': 5}, 'k4': {'sub4': 6}, 'k3': {'sub4': 16}, 'Key': {'subkey': 20}}

In [ ]:
## QUESTION NO 46
from datetime import date

def calculate_age(dob_year, dob_month, dob_day):
    today = date.today()
    age = today.year - dob_year
    return age

z = calculate_age(2004, 2, 29)
print(z)

22

In [ ]:
## QUESTION NO 47

def check_eligibility(dob_year,eligibility_age):
    age = date.today().year-dob_year
    if age >= eligibility_age:
        print("Eligible")
    else:
        print("Not Eligible")

check_eligibility(2004,21)

Eligible

In [29]:
## QUESTION NO 48

def palindrom(Name):
    
    if Name[::-1]==Name:
        print("This is palindrom ")
    else:
        print("this is not palindrom")

In [31]:
Name=input("Enter the number")
palindrom(Name)

this is not palindrom

In [ ]:
## QUESTION NO 49
def fib():
    x = 0
    y = 1
    print(x, y, end=" ")

    while True:
        z = x + y
        if z > 100:
            break
        print(z, end=" ")
        x = y
        y = z

fib()

0 1 1 2 3 5 8 13 21 34 55 89

In [32]:
## QUESTION NO  50

def factorial_number():

    num=int(input("enter a number"))
    sum=1
    for i in range(1,num+1):
        sum=sum*i
    return sum
factorial_number()

720

In [ ]:
## QUESTION NO 51
## largest number in list 
l1=[1,43,5,6,7]
x=l1[0]
for i in l1:
    if i>x:
        x=i
print(x)

43

In [ ]:
## QUESTION NO 52
l1=[1,2,3,1,2,3,4,5,6]
w={}
for i in l1:
    if i not in w:
        w[i]=1
    else:
        w[i]+=1
print(w)

{1: 2, 2: 2, 3: 2, 4: 1, 5: 1, 6: 1}

In [ ]:
## QUESTION NO 53

l1=[1,2,3,4,5]
l2=[2,3,4,88]
z=[]
for i in l1:
    if i in l2:
        z.append(i)
print(z)

[2, 3, 4]

In [ ]:
## QUESTION NO 55
sr=1
Menu="Idli"
qunt=3
price=60
TOTAL=qunt*price
print("{:_>50}".format(""))
print("|{:^50}|".format("WELCOME VEER HOTEL"))
print("{:_>50}".format(""))
print("|{:<10}  {:<10}   {:<10}   {:<10} |".format("sr","Menu","qunt","price"))
print("|{:<10}  {:<10}   {:<10}   {:<10} |".format(sr,Menu,qunt,price))
print("{:_>50}".format(""))

print("|{:<10}                   {:>18}   |".format("Total",TOTAL))

print("{:_>50}".format(""))

__________________________________________________
|                WELCOME VEER HOTEL                |
__________________________________________________
|sr          Menu         qunt         price      |
|1           Idli         3            60         |
__________________________________________________
|Total                                       180   |
__________________________________________________